<!DOCTYPE html>
<html>
    <head>
        <link rel = "styles" href="static/fix_styles.css">
    </head>

    <body>
        <div class = "Phone-Zone">
            <div>
                <h3>Liked Clothing</h3>
                <div>
                    <img class = "Cool-Pants" src = "https://m.media-amazon.com/images/I/51aXdqcWDEL._AC_UX342_.jpg">
                    <img class = "Comfy-Shirt" src = "https://i5.walmartimages.com/asr/5ad7736c-2f54-44b7-a90c-b104194fc486_1.222632fa4fe1e656979b2caf4b098d03.jpeg">
                    <img class = "Flower-Dress" src = "https://cdn.shopify.com/s/files/1/2434/7173/products/WhatsApp_Image_2019-10-01_at_14.33.24_1024x1024.jpeg?v=1570098113">
                </div>
            </div>
            <div class = "Deals" style="position: absolute; bottom: 500px;">
                <h3>Deals</h3>
            </div>
        </div>
    </body>
</html>