<html>
    <head>
        <title>Registration Page</title>
        <link rel = "login_sheet"href="/static/main.css">
    </head>
    <body>
        <div class="main">
            <div class = "box">
                <form class="input">
                    <input type="text" class = "input-field" placeholder="Username"
                    required>
                    <input type="text" class = "input-field" placeholder="Password"
                    required>
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type = "submit" class="submit-btn" onclick="window.location.href='file:///C:/Users/lukej/Dropbox/My%20PC%20(LAPTOP-MECDJ56U)/Downloads/CS%201632/Clinder/templates/homepage.html';">Register</button>
                    <button type="button" class = "Login-Button" onclick = "">Already Registered?</button>
                </form>
            </div>
        </div>
    </body>
</html>