{% extends '_base.html' %}
{% block content %}

<div class="simpleLogin">
    <form>
      <legend>Login</legend>
      <fieldset>
        <input id="name" placeholder="Username" type="text">
        <input id="pass" placeholder="Password" type="password">
        <input id="submit" type="submit" value="Log in">
        <a href="file:///C:/Users/lukej/Dropbox/My%20PC%20(LAPTOP-MECDJ56U)/Downloads/CS%201632/Clinder/templates/signup.html">Not Registered?</a>
      </fieldset>
    </form>
  </div>
        <script src="/static/authentication.js"></script>

{% endblock %}