
h1{
  text-align: center;
  font-family: Basetica Medium;
  padding-top: 10px;

}

.card {
    font-family: Basetica Medium;
} 


.container {
	width: 80%;
	margin: 0 auto;
}

button {
  color: white;
}
header {
  background: #000;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 20px 0;
  padding-left: 50px;
}

nav {
  float: right;
  padding-right: 20px;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(126, 125, 125);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(138, 138, 138);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;    
    display: table;
  }
  
  
  .carousel {
    transform-style: preserve-3d;
    display: flex;
    flex-direction: row;
  }
  
  .carousel__photo {
    left: 0;
    opacity: 0;
    position: absolute;
    top:0;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 5px;;
    padding-top: 20px;
    z-index: 100;

    overflow: hidden;
  }
  
  .carousel__photo.initial,
  .carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
  }
  
  .carousel__photo.prev,
  .carousel__photo.next {
    z-index: 800;
  }
  .carousel__photo.prev {
    transform: translateX(-100%); /* Move 'prev' item to the left */
  }
  .carousel__photo.next {
    transform: translateX(300%); /* Move 'next' item to the right */
  }
  
  .carousel__button--prev,
  .carousel__button--next {
    position: absolute;
    top:50%;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    border-radius: 50%;
    cursor: pointer; 
    z-index: 1001; /* Sit on top of everything */
    border: 1px solid black;
  }
  .carousel__button--prev {
    left:0;
  }
  .carousel__button--next {
    right: 0;
  }
  
  .carousel__button--prev::after,
  .carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  
  .carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  /* Style the Dots */

  .nav__dots{
    position: absolute;
    bottom: 40px;
    z-index: 1000;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.nav__dots.first-current #dot1{
  background-color: coral;
}
.nav__dots.second-current #dot2{
  background-color: coral;
}
.nav__dots.third-current #dot3{
  background-color: coral;
}


.PhoneBackground{
    background-image: url("https://preview.pixlr.com/images/800wm/1062/1/1062100171.jpg");
    background-size: 600px;
    width: 600px;
    height: 600px;
    border: 2px solid;
    color: black;
    background-repeat: no-repeat;
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.Phone-Zone{
    width: 420px;
    height: 690px;
    border: 1px solid black;
    margin: 40px auto 0 auto;
    position: relative;
}
